/* .h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 120%;
} */
/*
.header {
  height: 10%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.about-container {
  background: #2641ed;
}

.img-container {
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.infromation {
  font-size: 15px;
}

.team-imgs {
  display: flex;
}

.team-member p {
  margin: 5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.team-member p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.secondary-title {
 
  text-align: left;
  font-family: General Sans, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  margin-bottom: 10px;
}

.text-block {
  text-align: justify;
  font-size: 20px;
  line-height: 27px;
  width: 600px;
} */
/* color: #050505; */
/* color: #fff; */

.header {
  height: 10%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.about-container {
  background: #2641ed;
}

.img-container {
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.information {
  font-size: 15px;
}

.team-imgs {
  display: flex;
}

.team-member p {
  margin: 5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.team-member p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.secondary-title {
  /* color: #050505; */
  /* color: #fff; */
  text-align: left;
  font-family: General Sans, sans-serif;
  font-size: 57px;
  font-weight: 600;
  line-height: 61px;
  margin-top: 140px;
  margin-bottom: 40px;
}

.text-block {
  text-align: justify;
  font-size: 20px;
  line-height: 27px;

  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  margin: 0;
  padding: 0;
}

/* .test{
  test
} */

.member-info {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.member-description {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member-info:hover .member-description {
  left: 0;
  z-index: 999;
}

.team-member img {
  max-width: 80%;
  height: auto;
  transition: transform 0.3s ease;
  gap: 20px;
}
.team-member {
  margin-right: 2%;
}

.team-member:last-child {
  margin-right: 0;
}

.team-member:hover img {
  transform: rotate(360deg);
}
