<main>
    @* <div class="container " style="min-height: 300px;">
    <div class="info-section">
    <h2 class="h3 secondary-title">
    OUR COMPANY <br>
    <span>HISTORY</span>
    HISTORY
    </h2>
    </div>

    </div> *@
    <div class="section wf-section">
        <div class="container _2cols">
            <div id="w-node-_4fd2d63b-7c9c-8474-f6ce-0b659cf06b10-442e406f">
                <h2 class="secondary-title left">
                    OUR COMPANY <br>
                    HISTORY
                </h2>
            </div>
            <div class="text-block left">
                ITS was founded in June 2021 from a team of highly experienced former Deloitte Albania Consultants with
                the vision of
                combining business & technology expertise to offer comprehensive management consulting & IT managed
                services to local and
                global clients. We are targeting the types of services that would typically be outsourced to offshore
                technology centers and
                bring this work onshore.


                ITS’s management consulting services include Strategy & Transformation, Enterprise Architecture,
                Operational Excellence and
                Project Management typically around large, complex business transformation programs. Outsourced
                Information technology
                services include Application Maintenance & Support, Infrastructure Maintenance & Support, Customer
                Application
                Development & Testing, DevOPS and Help Desk services. Microsoft NAV/Dynamics 365 BC implementation &
                Support services
                offer end to end implementations by caring out system architecture design, business and technical
                analysis, configure &
                develop, integration with other IT systems, testing, training, data migration, organization change
                management, and after
                go-live support.
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container _2cols">
            <div class="team">
                <h3 class="secondary-title left">
                    MEET OUR <br>
                    <span class="secondary-title" style="color:#5c2372">TEAM</span>
                </h3>
                <div class="team-imgs">
                    <div class="team-member">
                        <img src="~/imgs/PersonIcon.png" />
                        <p>MAKSIM CASLLI</p>
                        <p>CEO</p>
                    </div>
                    <div class="team-member">
                        <img src="~/imgs/PersonIcon.png" />
                        <p>ARTAN GAQO</p>
                        <p>DIRECTOR</p>
                    </div>
                    <div class="team-member">
                        <img src="~/imgs/PersonIcon.png" />
                        <p>ARMIL ROKO</p>
                        <p>MANAGER</p>
                    </div>
                    <div class="team-member">
                        <img src="~/imgs/PersonIcon.png" />
                        <p>LAERT PUMA</p>
                        <p>BUSINESS DEVELOPER</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
