<main>
    @* <div class="container " style="min-height: 300px;">
    <div class="info-section">
    <h2 class="h3 secondary-title">
    OUR COMPANY <br>
    <span>HISTORY</span>
    HISTORY
    </h2>
    </div>

    </div> *@
    <div class="section wf-section">
        <div class="container _2cols">
            <div id="w-node-_4fd2d63b-7c9c-8474-f6ce-0b659cf06b10-442e406f">
                <h2 class="secondary-title left">
                    Our company history
                </h2>
            </div>
            <div class="text-block left">
                ITS was founded in June 2021 from a team of highly experienced former Deloitte Albania Consultants with
                the vision of
                combining business & technology expertise to offer comprehensive management consulting & IT managed
                services to local and
                global clients. We are targeting the types of services that would typically be outsourced to offshore
                technology centers and
                bring this work onshore.


                ITS’s management consulting services include Strategy & Transformation, Enterprise Architecture,
                Operational Excellence and
                Project Management typically around large, complex business transformation programs. Outsourced
                Information technology
                services include Application Maintenance & Support, Infrastructure Maintenance & Support, Customer
                Application
                Development & Testing, DevOPS and Help Desk services. Microsoft NAV/Dynamics 365 BC implementation &
                Support services
                offer end to end implementations by caring out system architecture design, business and technical
                analysis, configure &
                develop, integration with other IT systems, testing, training, data migration, organization change
                management, and after
                go-live support.
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container _2cols">
            <div class="team">
                <h3 class="secondary-title left">
                    Meet our
                    <span class="secondary-title">team</span>
                </h3>
                <div class="team-imgs">
                    <div class="team-member">
                        <div class="member-info">
                            <img src="~/imgs/Maksim.png" style="max-width: 100%; height: auto;" />
                            <div class="member-description">
                                <p style="font-size: 16px; line-height: 15px">Maksim is Shareholder and CEO for the
                                    American Capital
                                    since
                                    2009
                                    and CEO for the Integrated Tech Solutions since 2021. He has been a
                                    partner in Deloitte Central Europe from 1995 to 2021 and has an
                                    experience of more than 25 years in directing and strategic insights.
                                    Maksim is responsible for the strategy and direction of all American
                                    Capital and its Subsidiaries, including ventures in agribusiness. He
                                    has a long experience from both his work with American Capital and
                                    his position held as Deloitte Partner. </p>
                            </div>
                        </div>
                        <p>Maksim Caslli</p>
                        <p>CEO</p>
                    </div>
                    <div class="team-member">
                        <div class="member-info">
                            <img src="~/imgs/Artan.png" style="max-width: 100%; height: auto;" />
                            <div class="member-description">
                                <p style="font-size: 12px; line-height: 15px">Artan Gaqo is Director of ITS with more
                                    than 20 years of
                                    professional
                                    experience with a proven record of accomplishment of delivering
                                    results on business and technology transformation initiatives. He has
                                    direct experience in developing Digital / IT strategies for
                                    Telecommunications, financial services (banking and insurance) and
                                    public sector institutions, performing software selection and managing
                                    technology-enabled transformation programs. Proven track record in
                                    helping companies to transform their businesses by strategy, delivery
                                    and management of complex, pioneering, digital transformation
                                    projects, combining business processes, technology architecture &
                                    system integration. </p>
                            </div>
                        </div>
                        <p>Artan Gaqo</p>
                        <p>Director</p>
                    </div>
                    <div class="team-member">
                        <div class="member-info">
                            <img src="~/imgs/Armil.png" style="max-width: 100%; height: auto;" />
                            <div class="member-description">
                                <p style="font-size: 12px; line-height: 15px">Strategy and Operational Excellence in
                                    multiple
                                    Industries,
                                    Manufacturing, Banking, Consumer Business, Energy & Resources,
                                    Insurance and Public Sector. His project experience comes from the
                                    areas of business process management & re-engineering, enterprise
                                    architecture & technology, business capability models, category
                                    management, business planning & budgeting, project & stakeholder’s
                                    management, operational risk assessment, etc.

                                    In addition, Armil possesses knowledge on strategy &
                                    decision-making, public speaking, Regional Champion for PwC in
                                    Enterprise Architecture based on TOGAF methodology as well as
                                    certification from Deloitte in Lean Six Sigma methodology</p>
                            </div>
                        </div>
                        <p>Armil Roko</p>
                        <p>Manager</p>
                    </div>
                    <div class="team-member">
                        <div class="member-info">
                            <img src="~/imgs/Laert.png" style="max-width: 100%; height: auto;" />
                            <div class="member-description">
                                <p style="font-size: 15px; line-height: 15px">Laert is the Business Development
                                    Executive
                                    in charge for
                                    Navision/Business Central Business Line.

                                    Laert is a former Deloitte Manager within 14 years of experience.
                                    Laert has a 4 years experience in Deloitte Audit Department (Albania
                                    and Kosovo); 6 years experience as part of the Department of
                                    Financial Advisory Services (FAS) and 4 years experience with
                                    Management Consulting team. Laert experience is focused in
                                    different industries, Banking and Financial Institutions, Energy &
                                    Resources, Airport Business, Public Sector, Insurance etc.</p>
                            </div>
                        </div>
                        <p>Laert Puma</p>
                        <p>Business Developer</p>
                    </div>


                </div>
            </div>
        </div>
    </div>

</main>
