/* .h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 120%;
} */
/*
.header {
  height: 10%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.about-container {
  background: #2641ed;
}

.img-container {
  width: 200px;
  height: 80px; 
  display: flex;
  flex-direction: row;
}

.infromation {
  font-size: 15px;
}

.team-imgs {
  display: flex;
}

.team-member p {
  margin: 5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.team-member p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.secondary-title {
 
  text-align: left;
  font-family: General Sans, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  margin-bottom: 10px;
}

.text-block {
  text-align: justify;
  font-size: 20px;
  line-height: 27px;
  width: 600px;
} */
/* color: #050505; */
/* color: #fff; */

.header {
  height: 10%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.about-container {
  background: #2641ed;
}
.its-icon {
  margin-top: 140px;
  width: 100%;
}
.img-container {
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.information {
  font-size: 15px;
}

.team-imgs {
  display: flex;
  transition: all 0.3s ease;
}

.team-member p {
  margin: 5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
  transition: all 0.3s ease;
}

.secondary-title {
  text-align: left;
  font-family: General Sans, sans-serif;
  font-size: 57px;
  font-weight: 600;
  line-height: 61px;
  margin-top: 140px;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.text-block {
  text-align: justify;
  font-size: 20px;
  line-height: 27px;
  max-width: 100%;
  padding-left: 20px;
}

.left {
  margin-left: 120px;
  margin-right: 100px;
}

.main {
  margin: 0;
  padding: 0;
}

/* .test{
  test
} */

.team-member {
  background-color: transparent;
  width: 300px;
  height: 323px;
  perspective: 1000px;
  margin-right: 2%;
}

.member-info {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  z-index: 1; /* Ensure member-info is above other elements */
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 0; /* Ensure card-front is behind member-info */
}

.team-member:hover .member-info {
  transform: rotateY(180deg);
}

.member-description {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.member-description {
  background: #1e0d40;
  opacity: 0.8226;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  text-align: left; /* Center the text horizontally */
}
.member-description p {
  font-size: 15px;
  line-height: 17px;
}
.team-member:hover img {
  transform: rotateY(180deg);
}

.section {
  padding-bottom: 100px;
}

@media (min-width: 992px) and (max-width: 1091.98px) {
  .member-description p {
    font-size: 13px;
    line-height: 17px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .team-imgs {
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-member {
    text-align: center;
    margin-top: 70px;
    width: 37%; /* Display two members per row */
    margin-right: 2%; /* Adjust the right margin */
    margin-bottom: 40px; /* Add some spacing between rows */
  }

  .member-description p {
    font-size: 14px;
    line-height: 17px;
  }
  .secondary-title {
    text-align: center;
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 0px;
  }
}

@media (max-width: 575.98px) {
  .team-imgs {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .team-member {
    width: 70%; /* Display two members per row */
    margin-right: 1px; /* Remove the right margin */
    margin-bottom: 80px; /* Add some spacing between rows */
  }
  .member-description p {
    font-size: 14px;
    line-height: 15px;
  }
  .text-block {
    text-align: left;
    padding-left: 0px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
  }
  .left {
    margin-left: 20px;
    margin-right: 20px;
  }
  .secondary-title {
    font-size: 40px;
  }
  .section {
    padding-bottom: 40px;
  }
}
