/* .h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 120%;
} */
/*
.header {
  height: 10%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.about-container {
  background: #2641ed;
}

.img-container {
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.infromation {
  font-size: 15px;
}

.team-imgs {
  display: flex;
}

.team-member p {
  margin: 5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.team-member p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.secondary-title {
 
  text-align: left;
  font-family: General Sans, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  margin-bottom: 10px;
}

.text-block {
  text-align: justify;
  font-size: 20px;
  line-height: 27px;
  width: 600px;
} */
/* color: #050505; */
/* color: #fff; */

.header {
  height: 10%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.about-container {
  background: #2641ed;
}

.section {
  padding-bottom: 0;
}

.img-container {
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.information {
  font-size: 15px;
}

.team-imgs {
  display: flex;
}

.team-member p {
  margin: 5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
}

.team-member p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.secondary-title {
  text-align: left;
  font-family: General Sans, sans-serif;
  font-size: 57px;
  font-weight: 600;
  line-height: 61px;
  margin-top: 140px;
  margin-bottom: 40px;
}

.text-block {
  text-align: right justify;
  font-size: 20px;
  line-height: 27px;
  max-width: 100%;
  padding-left: 20px;
}

.left {
  margin-left: 20px;
}

.main {
  margin: 0;
  padding: 0;
}

/* .test{
  test
} */
.team-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  width: 49%;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.team-member img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
}

.member-description {
  width: 50%;
}

.member-description p {
  margin-top: 0;
  font-size: 15px;
  line-height: 1.5;
}

.left {
  text-align: left;
}
