<main>
    @* <div class="container " style="min-height: 300px;">
    <div class="info-section">
    <h2 class="h3 secondary-title">
    OUR COMPANY <br>
    <span>HISTORY</span>
    HISTORY
    </h2>
    </div>

    </div> *@


    <style>
        .members-img {
            max-width: 100%;
            height: auto;
        }

        .its-icon img {
            width: 100%;
            height: auto;
            opacity: 0.4;
            border-radius:20px;
        }
        .team-member a {
    text-decoration: none;
}

.member-name:hover {
    cursor: pointer;
    color: #0055dc !important;
}

        }

 @@media (min-width: 1900px) {
            .members-img {
                width: 80%;

            }
        }
        @@media (min-width: 1700px) {
            .members-img {
                width: 90%;

            }
        }

        @@media (max-width: 575.98px) {
            .its-icon {
                position: absolute;
                left:0%
            }
        }
    </style>
    <div class="section wf-section">
        <div class="container _2cols">
            <div id="w-node-_4fd2d63b-7c9c-8474-f6ce-0b659cf06b10-442e406f" style="display: flex;">
                <div class="its-icon"> <img src="~/imgs/hands.png" alt="">
                </div>
                <div>
                    <h2 class="secondary-title left">
                        Our Journey
                    </h2>
                    <div class="text-block left">
                        Integrated Tech Solutions (ITS) was founded in June 2021 by highly experienced Deloitte Albania
                        Consultants, merging business and tech expertise to provide comprehensive solutions for local
                        and global
                        clients. Specializing in management consulting, and outsourced IT services, including Microsoft
                        NAV/Dynamics 365 BC implementation, we drive the progress of our clients toward success through
                        strategic transformation and operational excellence. <br>

                        Our commitment is to integrate business strategies with cutting-edge technology to
                        empower
                        organizations in navigating the complexities of today's dynamic landscape.<br>

                        ITS is now comprised of 70 skilled and dedicated professionals. With a diverse range of
                        talents,
                        our
                        workforce plays a crucial role in meeting the needs of our clients on both a global and local
                        scale.
                        Their commitment and proficiency enable us to consistently provide high-quality solutions and
                        services.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container _2cols">
            <div class="team">
                <h3 class="secondary-title left" style="margin-top:70px">
                    Meet our team
                </h3>


                <div class="team-imgs">
                    <div class="team-member">
                        <div class="member-info">
                            <div class="card-front">
                                <img src="~/imgs/Maksim.png" class="members-img" />
                            </div>
                            <div class="member-description">
                                <p>Shareholder and CEO of American Capital
                                    since 2009, also serves as the CEO of Integrated Tech Solutions since 2021. With
                                    over 25 years of experience, he was a partner at Deloitte Central Europe from 1995
                                    to 2021. Maksim directs and provides strategic insights, overseeing the strategy and
                                    direction of all American Capital and its subsidiaries, including ventures in
                                    agribusiness. His extensive experience stems from his roles at American Capital and
                                    as a Deloitte Partner. </p>
                            </div>
                        </div>
                       <a href="https://www.linkedin.com/in/maksim-caslli-86a63a21" target="_blank">
                          <p class="member-name">Maksim Caslli</p>
                       </a>
                        <p>CEO</p>
                    </div>
                    <div class="team-member">
                        <div class="member-info">
                            <div class="card-front">
                                <img src="~/imgs/Artan.png" class="members-img" />
                            </div>
                            <div class="member-description">
                                <p>The Director of ITS with over 20 years of
                                    professional experience. He has a successful track record in driving business and
                                    technology transformation initiatives, particularly in developing Digital/IT
                                    strategies for Telecommunications, financial services, and public sector
                                    institutions. Artan specializes in software selection and managing
                                    technology-enabled transformation programs. He is known for his expertise in leading
                                    complex digital transformation projects by integrating business processes,
                                    technology architecture, and system integration. </p>
                            </div>
                        </div>
                       
                         <a href="https://www.linkedin.com/in/artan-gaqo-cisa-224b1616" target="_blank">
                        <p class="member-name">Artan Gaqo</p>
                        </a>
                        <p>Director</p>
                    </div>
                    <div class="team-member">
                        <div class="member-info">
                            <div class="card-front">
                                <img src="~/imgs/Armil.png" class="members-img" />
                            </div>
                            <div class="member-description">
                                <p> An experienced professional in
                                    Strategy and Operational Excellence across Manufacturing, Banking, Consumer
                                    Business, Energy & Resources, Insurance, and Public Sector. His expertise includes
                                    business process management, enterprise architecture, technology, business planning,
                                    budgeting, project management, and operational risk assessment. Regional Champion
                                    for PwC in Enterprise Architecture based on TOGAF methodology as well certified in
                                    Lean Six Sigma methodology by Deloitte, showcasing skills in strategy and
                                    decision-making.</p>
                            </div>
                        </div>
                        
                        <a href="https://www.linkedin.com/in/armil-roko-77676034" target="_blank">
                        <p class="member-name">Armil Roko</p>
                        </a>
                        <p>Manager</p>
                    </div>
                    <div class="team-member">
                        <div class="member-info">
                            <div class="card-front">
                                <img src="~/imgs/Laert.png" class="members-img" />
                            </div>
                            <div class="member-description">
                                <p>Business Development Executive, leads the
                                    MD365 BC business line. Formerly a Deloitte Manager with 14 years of experience,
                                    Laert has a versatile background, including 4 years in Deloitte's Audit Department
                                    (Albania and Kosovo), 6 years in Financial Advisory Services (FAS), and 4 years in
                                    Management Consulting. His expertise spans various industries, including Banking and
                                    Financial Institutions, Energy & Resources, Airport Business, Public Sector, and
                                    Insurance.</p>
                            </div>
                        </div>
                       <a href="https://www.linkedin.com/in/laert-puma-63432714" target="_blank">
                        <p class="member-name">Laert Puma</p>
                        </a>
                        <p>Business Developer</p>
                    </div>


                </div>
            </div>
        </div>
    </div>

</main>
