<style>
    .carrer-container img {
        width: 260px;
        height: 260px;
    }

    .form-block {
        max-width: 580px;
        min-width: 200px;
    }

    .w-form {
        margin: 35px 0 15px;
        padding: 33px;
        border-radius: 16px;
        background: black;
    }

    .form-field {
        background-color: rgba(255, 255, 255, 0);
        border: 0 solid #000;
        border-top-color: #4d4d4d;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 40px;
        font-size: 18px;
        border-radius: 5px;
    }

    .w-input,
    .w-select {
        width: 100%;
        height: 38px;
        vertical-align: middle;
        border: 1px solid #ccc;
        margin-bottom: 22px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857;
        display: block;
    }

    .Positions {

        position: relative;
        width: 240px;
    }

    .Positions select {
        display: none;
    }

    .select-selected {
        background: #292a2a;
    }

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

    .select-items div,
    .select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
    }

    .select-items {
        position: absolute;
        background-color: #4e5154;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>
<main>
    <div class="section wf-section">
        <div class="container ">
            <div class="main-title-wrapper">
                <h1 class="main-title left">CAREER IN ITS</h1>
            </div>
            <div class="carrer-container">
                <div class="text-block left">
                    We believe in a great company’s culture by bringing together our teams and appreciating their
                    contribution.
                    We promote respect, teamwork, and work-life balance.
                    </br>
                    </br>
                    ITS’s long-term success as a consulting and technology-oriented company depends on attracting the
                    most talented and capable candidates.
                    The candidate’s selection process is well-established
                    through our internal recruitment policy, based on merit, and the candidate’s ability to perform the
                    work according to ITS’s mission values.
                    </br>
                    </br>
                    We strongly believe in the path we have set to become a leading company operating with international
                    standards and technical
                    excellence based on the continuous development of our people. Our team members thrive in a
                    fast-paced and collaborative environment.
                    </br>
                    They are a group of professionals with individual passion and quality to devise tech solutions. We
                    seek the best and brightest
                    to join us on our journey.
                </div>
                <div class="img-box">
                    <img src="~/imgs/career2.png" alt="career boost image">
                </div>
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left">ITS’s recruitment policy aims</h1>
            </div>
            <div class="text-block aims-container">
                <div class="offer-card" asp-action="MC">
                    <ul class="card-title">
                        <li>To provide a selection of qualified and experienced staff, with professional skills at all
                            levels of
                            service at ITS, to support the business needs in all the areas where it operates.
                        </li>
                        <br />
                        <li>To ensure and promote the development of individual skills, without discrimination on the
                            grounds of
                            age, physical disability, origin, race, religion, gender, etc.
                        </li>
                        <br />
                        <li>To provide a work environment where the best employees are distinguished, remunerated, and
                            motivated, to
                            encourage career advancement and development.
                        </li>
                        <br />
                        <li>To emphasize with all the means and methods that human dignity is an essential condition for
                            success at
                            work.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left">What we offer</h1>
            </div>
            <div class="offers-container">
                <div class="offer-card" asp-action="MC">
                    <ul class="card-title">
                        <li>Innovative and collaborative work environment</li>
                        </br>
                        <li>Periodic Team Building activities (Retreats, Happy hours, Sport
                            Activities, Gathering, Celebrations, etc.)</li>
                        </br>
                        <li>Technical Training through on-the-job experience and structured learning for recent
                            graduates</li>
                    </ul>
                </div>
                <div class="offer-card" asp-action="MC">
                    <ul class="card-title">
                        <li>Guidance during your work performance</li>
                        </br>
                        <li>Annual promotions and reward</li>
                        </br>
                        <li>Possibility to grow professionally</li>
                        </br>
                        <li>Enhancement of employee’s experience through staff perks</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left">JOB OPPORTUNITIES</h1>
            </div>
            <div class="jobs-container">
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">SUPPLY CHAIN MANAGEMENT CONSULTANT (GERMAN SPEAKER)</div>
                        <button onclick="showModal()" class="apply-cta">Apply Now</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4 style="color: #;">Duties & Responsibilities</h4>
                            <ul>
                                <li>Manage the ERP System of the international clients for the optimization of their
                                    work process;</li>
                                <li>Ensure smooth running of the automation industry logistics process through the
                                    customized ERP system used by the client</li>
                                <li>Consulting, monitoring, and supervision of deliveries through international postal
                                    agencies;</li>
                                <li>Training and instructing suppliers on the correct use of the ERP system for a normal
                                    work process</li>
                                <li> Help clients transform their value chains into competitive advantages by driving
                                    proactive insights and decision making, and
                                    you’ll tackle our clients’ complex business issues. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4 style="color: #;">Candidate’s qualifications</h4>
                            <ul>
                                <li>Graduated in Computer Science, Engineering, Business Informatics, Finance, or
                                    similar
                                    fields</li>
                                <li>Previews work experience in the field will be considered an advantage- ;</li>
                                <li>Possess solid analytical, interpersonal, and communication skill</li>
                                <li>Fluent in German, very good knowledge of English</li>
                                <li>Proficiency with the Microsoft Office applications</li>
                                <li>Detail-oriented and enjoy working with software’s</li>
                                <li>Possess solid analytical, interpersonal, and communication skill</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">SUPPLY CHAIN MANAGEMENT CONSULTANT (GERMAN SPEAKER)</div>
                        <button onclick="showModal()" class="apply-cta">Apply Now</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4 style="color: #;">Duties & Responsibilities</h4>
                            <ul>
                                <li>Manage the ERP System of the international clients for the optimization of their
                                    work process;</li>
                                <li>Ensure smooth running of the automation industry logistics process through the
                                    customized ERP system used by the client</li>
                                <li>Consulting, monitoring, and supervision of deliveries through international postal
                                    agencies;</li>
                                <li>Training and instructing suppliers on the correct use of the ERP system for a normal
                                    work process</li>
                                <li> Help clients transform their value chains into competitive advantages by driving
                                    proactive insights and decision making, and
                                    you’ll tackle our clients’ complex business issues. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4 style="color: #;">Candidate’s qualifications</h4>
                            <ul>
                                <li>Graduated in Computer Science, Engineering, Business Informatics, Finance, or
                                    similar
                                    fields</li>
                                <li>Previews work experience in the field will be considered an advantage- ;</li>
                                <li>Possess solid analytical, interpersonal, and communication skill</li>
                                <li>Fluent in German, very good knowledge of English</li>
                                <li>Proficiency with the Microsoft Office applications</li>
                                <li>Detail-oriented and enjoy working with software’s</li>
                                <li>Possess solid analytical, interpersonal, and communication skill</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">SUPPLY CHAIN MANAGEMENT CONSULTANT (GERMAN SPEAKER)</div>
                        <button onclick="showModal()" class="apply-cta">Apply Now</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4 style="color: #;">Duties & Responsibilities</h4>
                            <ul>
                                <li>Manage the ERP System of the international clients for the optimization of their
                                    work process;</li>
                                <li>Ensure smooth running of the automation industry logistics process through the
                                    customized ERP system used by the client</li>
                                <li>Consulting, monitoring, and supervision of deliveries through international postal
                                    agencies;</li>
                                <li>Training and instructing suppliers on the correct use of the ERP system for a normal
                                    work process</li>
                                <li> Help clients transform their value chains into competitive advantages by driving
                                    proactive insights and decision making, and
                                    you’ll tackle our clients’ complex business issues. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4 style="color: #;">Candidate’s qualifications</h4>
                            <ul>
                                <li>Graduated in Computer Science, Engineering, Business Informatics, Finance, or
                                    similar
                                    fields</li>
                                <li>Previews work experience in the field will be considered an advantage- ;</li>
                                <li>Possess solid analytical, interpersonal, and communication skill</li>
                                <li>Fluent in German, very good knowledge of English</li>
                                <li>Proficiency with the Microsoft Office applications</li>
                                <li>Detail-oriented and enjoy working with software’s</li>
                                <li>Possess solid analytical, interpersonal, and communication skill</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left"> WANT TO BE PART OF ITS</h1>
                <p>Looking for a new position? Ready to upgrade?</p>
                <p>Looking for better support? ITS is here for you.</p>
            </div>
            <div class="form-block w-form">
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="a508f18d-27ad-455a-a10d-af959ec0d024">
                    <input id="namefield" type="text" class="form-field w-input" name="Name" placeholder="Full Name *" required="">
                    <input id="emailfield" class="form-field w-input" name="Email" type="email" placeholder="Email Address *"
                        required="">
                    <input id="phonefield" class="form-field w-input" name="Phone" type="number"
                        placeholder="Phone number(Optional)">
                    <div class="resume">
                        <label for="inputfile">Cv ( resume )</label>
                        <input type="file" id="myFile" name="CV" placeholder="Upload resume">
                        <span class="help-block">Upload your resume</span>
                    </div>
                    <div class="Positions">
                        <select id="selectposition" name="Open Position" required="">
                            <option value="">Please select a position:</option>
                            <option value=".NET Developer">.NET Developer</option>
                            <option value="Al Developer">Al Developer</option>
                            <option value="BC Consultant">BC Consultant</option>
                            <option value="SUPPLY CHAIN MANAGEMENT CONSULTANT">SUPPLY CHAIN MANAGEMENT CONSULTANT
                            </option>
                        </select>
                    </div>
                    <div class="button-box">
                        <button type="submit" class="main-cta w-button">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@* <script src="https://smtpjs.com/v3/smtp.js"></script> *@
<script>

    // async function sendEmail() {
    //     var file = document.getElementById("myFile").files[0];

    //     var name = document.getElementById('namefield').value;
    //     var email = document.getElementById('emailfield').value;
    //     var phone = document.getElementById('phonefield').value;
    //     var position = document.getElementById('selectposition').value;

    //     var file64 =await toBase64(file);
    //     console.log(file64);
        
    //     CompleteSendEmail(name, email, phone, position, file64);
    // }
    // async function BeforeSendEmail() {

    //     var name = document.getElementById('fname').value;
    //     var email = document.getElementById('efield').value;
    //     var phone = document.getElementById('pfield').value;

    //     var file = document.getElementById("cvfield").files[0];
    //     var position = ".NET Developer";

    //     var file64 =await toBase64(file);
    //     console.log(file64);

    //     CompleteSendEmail(name, email, phone, position, file64);
    // }
    // function CompleteSendEmail(name, email, phone, position, file64) {

    //     const emails = ["fazemaj@itechsolutions.al", "frankoazemaj@gmail.com"];

    //     Email.send({
    //         SecureToken: "07b23fc0-b21b-4b02-903e-d8d25247e28d",
    //         To: emails,
    //         From: "fazemaj@itechsolutions.al",
    //         Subject: "Email from the website contact form",
    //         Body: "Name: " + name
    //             + "<br> Email: " + email
    //             + "<br> Phone: " + phone
    //             + "<br> Position: " + position,
    //         Attachments: [
    //             {
    //                 name: "CV",
    //                 data: "" + file64 + ""
    //             }]
    //     }).then(
    //         message => alert("Success" + message)
    //     );
    //     message => alert("Error, " + message);
    // }

    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
                content.style.margin = "0px 25px";
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
                content.style.margin = "0px 25px 15px";
            }
        });
    }

    var x, i, j, l, ll, selElmnt, a, b, c;
    x = document.getElementsByClassName("Positions");
    l = x.length;
    for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        yl = y.length;
                        for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    document.addEventListener("click", closeAllSelect);
</script>

<script>
    function showModal() {
        swalWithBootstrapButtons.fire(
            {
                title: "Applying for ..." ,
                html: '    <div class="form-block w-form"> <form action="https://api.web3forms.com/submit" method="POST"><input id="fname" type="text" class="form-field w-input" placeholder="Full Name *" required=""><input id="efield" class="form-field w-input" type="email" placeholder="Email Address *" required=""><input id="pfield" class="form-field w-input" type="number" placeholder="Phone number(Optional)"><div class="resume"><span class="help-block">Upload your resume<\/span><input type="file" id="cvfield" name="filename" placeholder="Upload resume"><\/div><div class="button-box"><button type="submit" class="main-cta w-button">Apply<\/button><\/div><\/form><\/div>'
                    , showConfirmButton: !1
            }
        )
    }
    const swalWithBootstrapButtons = Swal.mixin({ buttonsStyling: !1 });
</script>

<script src="https://web3forms.com/client/script.js" async defer></script>