.carrer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-box {
  margin-top: 15px;
}

.aims-container {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  margin-top: 24px;
}

.offers-container {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  margin-top: 24px;
}

.offer-card {
  min-height: 245px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: #141313;
  opacity: 0.82226;
  border-radius: 10px;
  align-items: start;
  padding: 20px;
  display: flex;
  box-shadow: 0 0 4px 20px rgba(0, 0, 0, 0.02);
}

.text-block {
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: justify;
  font-size: 18px;
  line-height: 27px;
  width: 800px;
  line-height: 27px;
}

.card-title {
  font-size: 18px;
  line-height: 30px;
  padding-left: 15px;
}

.jobs-container {
  margin-top: 40px;
}

.job-container {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.job-title {
  margin-top: auto;
  margin-bottom: auto;
}

.apply-cta {
    cursor: pointer;
    background: #5c2372c5;
    border-radius: 40px;
    justify-content: center;
    margin-left: auto;
    margin-right: 30px;
    padding: 12px 32px;
    font-family: General Sans, sans-serif;
    font-size: 17px;
    font-weight: 600;
    transition: all .3s;
    text-decoration: none;
    border-style: unset;
}

.apply-cta:hover {
  color: white;
  background-color: #5c2372;
  /* background-color: #5c2372; */
}

.collapsible {
    color: white;
    background: #19191a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

/* .active, */
.collapsible:hover {
  background: #363636;
}

.content {
  /* padding: 0 25px 15px; */
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  /* line-height: 25px; */
  transition: max-height 0.2s ease-out;
  /* background-color: #f1f1f1; */
  /* background-color: #f1f1f1; */
}

.content h4 {
  color: #5c2372;
  font-size: 22px;
  margin: 10px 0px;
}

.resume {
  display: flex;
  flex-direction: column;
}

.resume label {
  margin-top: 20px;
}

/* .resume label, */
.resume input,
.resume span {
  margin-bottom: 10px;
  opacity: 0.7;
}

.button-box {
  display: flex;
  justify-content: flex-end;
}

.w-button {
  margin-right: 0;
}
