<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</head>
<style>
    .main-cta {
        margin-top: 20px
    }



    [data-aos^="fade"][data-aos^="fade"].aos-animate {
        opacity: 0.8;
        transform: translateZ(0);
    }

    .carrer-container img {
        width: 251px;
        height: auto;
        margin-top: 70px;
        margin-left: 40px;
        border-radius: 10px
    }

    .img-box2 img {
        width: calc(20% - 20px);
        /* Adjust the width as needed */
        /* Adjust the margin as needed */
        max-width: 100%;
        /* Add a maximum width if necessary */
        height: auto;
    }



    .form-field {
        background-color: rgba(255, 255, 255, 0);
        border: 0 solid #000;
        border-top-color: #4d4d4d;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 40px;
        font-size: 18px;
        border-radius: 5px;
    }

    .form-field:focus {
        outline: none;
        border-color: #ccc;

    }


    .w-input,
    .w-select {
        width: 100%;
        height: 38px;
        vertical-align: middle;
        border: 1px solid #ccc;
        margin-bottom: 22px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857;
        display: block;
    }

    .Positions {

        position: relative;
        width: 240px;
    }

    .Positions select {
        display: none;
    }

    .select-selected {
        background: #292a2a;
    }

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

    .select-items div,
    .select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
    }

    .select-items {
        position: absolute;
        background-color: #4e5154;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }


    .swal2-container.swal2-center>.swal2-popup {
        border-radius: 20px;
        background: #141313;
        opacity: 0.97226;

    }

    @@media (min-width: 600.1px) and (max-width: 991.98px) {
        .carrer-container img {
            width: 200px;
        }

    }

    @@media only screen and (max-width: 600px) {
        .img-box2 {
            display: flex;
            flex-wrap: wrap;

        }

        .carrer-container img {
            width: 100px;
        }

        .img-box2 img {
            width: 49%;
            /* Adjust the width as needed */
            margin-bottom: -20px;
            /* Adjust the margin as needed */
        }
    }
</style>
<main>
    <div class="section-first wf-section">
        <div class="container ">
            <div class="main-title-wrapper">
                <h1 class="main-title left">Career in ITS</h1>
            </div>
            <div class="carrer-container">
                <div class="text-block left">
                    We believe in a great company’s culture by bringing together our teams and appreciating their
                    contribution.
                    We promote respect, teamwork, and work-life balance.
                    </br>
                    </br>
                    ITS’s long-term success as a consulting and technology-oriented company depends on attracting the
                    most talented and capable candidates.
                    The candidate’s selection process is well-established
                    through our internal recruitment policy, based on merit, and the candidate’s ability to perform the
                    work according to ITS’s mission values.
                    </br>
                    </br>
                    We strongly believe in the path we have set to become a leading company operating with international
                    standards and technical
                    excellence based on the continuous development of our people. Our team members thrive in a
                    fast-paced and collaborative environment.
                    </br>
                    They are a group of professionals with individual passion and quality to devise tech solutions. We
                    seek the best and brightest
                    to join us on our journey.
                </div>
                <div class="img-box">
                    <img src="~/imgs/7.png" alt="career boost image">

                </div>
            </div>
            <div class="img-box2">
                <div class="list-item">
                    <div class="team-members"> <img src="~/imgs/10.png" alt="career boost image"></div>
                </div>
                <div class="list-item">
                    <div class="team-members"> <img src="~/imgs/1.png" alt="career boost image"></div>
                </div>
                <div class="list-item">
                    <div class="team-members"> <img src="~/imgs/2.png" alt="career boost image"></div>
                </div>
                <div class="list-item">
                    <div class="team-members"> <img src="~/imgs/3.png" alt="career boost image"></div>
                </div>

            </div>

        </div>
    </div>

    @* <div class="slideshow-container">

    <div class="mySlides fade">
    <img src="~/imgs/Laert.png" style="width:100%">

    </div>

    <div class="mySlides fade">
    <img src="~/imgs/Armil.png" style="width:100%">

    </div>





    </div>
    <br>

    <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    </div> *@
    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left" style="margin-top:70px;">What we offer</h1>
            </div>
            <div class="offers-container">
                <div class="offer-container-wrapper" style="overflow-x:hidden;">
                    <div class="offer-card" asp-action="MC" data-aos="fade-right">
                        <ul class="card-title">
                            <li>Innovative and collaborative work environment</li>
                            <br>
                            <li>Possibility to grow professionally</li>
                            <br>
                            <li>Guidance during your work performance</li>
                            <br>
                            <li>Technical Training through on-the-job experience and structured learning for recent
                                graduates</li>

                        </ul>
                    </div>
                    <div class="offer-card" asp-action="MC" data-aos="fade-left">
                        <ul class="card-title">
                            <li>Annual promotions and reward</li>
                            <br>
                            <li>Periodic Team Building activities (Retreats, Happy hours, Sport
                                Activities, Gathering, Celebrations, etc.)</li>
                            <br>
                            <li>Enhancement of employee’s experience through staff perks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left" style="margin-top:70px">Job Opportunities</h1>
            </div>
            <div class="jobs-container">
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">Supply Chain Management Consultant (German Speaker)</div>
                        <button onclick="showModal('Supply Chain Management Consultant (German Speaker)')"
                            class="apply-cta">Apply Now</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4>Duties & Responsibilities</h4>
                            <ul>
                                <li>• Manage the ERP System of the international clients for the optimization of their
                                    work process;</li>
                                <li>• Ensure smooth running of the automation industry logistics process through the
                                    customized ERP system used by the client</li>
                                <li>• Consulting, monitoring, and supervision of deliveries through international postal
                                    agencies;</li>
                                <li>• Training and instructing suppliers on the correct use of the ERP system for a
                                    normal
                                    work process</li>
                                <li>• Help clients transform their value chains into competitive advantages by driving
                                    proactive insights and decision making, and
                                    you’ll tackle our clients’ complex business issues. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4>Candidate’s qualifications</h4>
                            <ul>
                                <li>• Graduated in Computer Science, Engineering, Business Informatics, Finance, or
                                    similar
                                    fields</li>
                                <li>• Previews work experience in the field will be considered an advantage- ;</li>
                                <li>• Possess solid analytical, interpersonal, and communication skill</li>
                                <li>• Fluent in German, very good knowledge of English</li>
                                <li>• Proficiency with the Microsoft Office applications</li>
                                <li>• Detail-oriented and enjoy working with software’s</li>
                                <li>• Possess solid analytical, interpersonal, and communication skill</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">SUPPLY CHAIN MANAGEMENT CONSULTANT (GERMAN SPEAKER)</div>
                        <button onclick="showModal('SUPPLY CHAIN MANAGEMENT CONSULTANT (GERMAN SPEAKER)')"
                            class="apply-cta">Apply Now</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4 style="color: #;">Duties & Responsibilities</h4>
                            <ul>
                                <li>• Manage the ERP System of the international clients for the optimization of their
                                    work process;</li>
                                <li>• Ensure smooth running of the automation industry logistics process through the
                                    customized ERP system used by the client</li>
                                <li>• Consulting, monitoring, and supervision of deliveries through international postal
                                    agencies;</li>
                                <li>• Training and instructing suppliers on the correct use of the ERP system for a
                                    normal
                                    work process</li>
                                <li>• Help clients transform their value chains into competitive advantages by driving
                                    proactive insights and decision making, and
                                    you’ll tackle our clients’ complex business issues. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4 style="color: #;">Candidate’s qualifications</h4>
                            <ul>
                                <li>• Graduated in Computer Science, Engineering, Business Informatics, Finance, or
                                    similar
                                    fields</li>
                                <li>• Previews work experience in the field will be considered an advantage- ;</li>
                                <li>• Possess solid analytical, interpersonal, and communication skill</li>
                                <li>• Fluent in German, very good knowledge of English</li>
                                <li>• Proficiency with the Microsoft Office applications</li>
                                <li>• Detail-oriented and enjoy working with software’s</li>
                                <li>• Possess solid analytical, interpersonal, and communication skill</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">SUPPLY CHAIN MANAGEMENT CONSULTANT (GERMAN SPEAKER)</div>
                        <button onclick="showModal('SUPPLY CHAIN MANAGEMENT CONSULTANT (GERMAN SPEAKER)')"
                            class="apply-cta">Apply Now</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4 style="color: #;">Duties & Responsibilities</h4>
                            <ul>
                                <li>• Manage the ERP System of the international clients for the optimization of their
                                    work process;</li>
                                <li>• Ensure smooth running of the automation industry logistics process through the
                                    customized ERP system used by the client</li>
                                <li>• Consulting, monitoring, and supervision of deliveries through international postal
                                    agencies;</li>
                                <li>• Training and instructing suppliers on the correct use of the ERP system for a
                                    normal
                                    work process</li>
                                <li>• Help clients transform their value chains into competitive advantages by driving
                                    proactive insights and decision making, and
                                    you’ll tackle our clients’ complex business issues. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4 style="color: #;">Candidate’s qualifications</h4>
                            <ul>
                                <li>• Graduated in Computer Science, Engineering, Business Informatics, Finance, or
                                    similar
                                    fields</li>
                                <li>• Previews work experience in the field will be considered an advantage- ;</li>
                                <li>• Possess solid analytical, interpersonal, and communication skill</li>
                                <li>• Fluent in German, very good knowledge of English</li>
                                <li>• Proficiency with the Microsoft Office applications</li>
                                <li>• Detail-oriented and enjoy working with software’s</li>
                                <li>• Possess solid analytical, interpersonal, and communication skill</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left" style="margin-top:70px"> Want to join our team!</h1>
                <p style="margin-top:10px;">If you haven't found a suitable position, you can still send us your
                    application! </p>

            </div>
            <div class="form-block w-form">
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="a508f18d-27ad-455a-a10d-af959ec0d024">
                    <input id="namefield" type="text" class="form-field w-input" name="Name" placeholder="Full Name *"
                        required="">
                    <input id="emailfield" class="form-field w-input" name="Email" type="email"
                        placeholder="Email Address *" required="">
                    <input id="phonefield" class="form-field w-input" name="Phone" type="number"
                        placeholder="Phone number(Optional)">
                    <div class="resume">
                        <label for="inputfile">CV ( resume )</label>
                        <div data-fileupload="true" style="dispaly:none">

                            @* <span class="help-block">Upload your resume</span> *@
                        </div>
                        <div class="Positions">
                            <select id="selectposition" name="Open Position" required="">
                                <option value="">Please select a position:</option>
                                <option value=".NET Developer">.NET Developer</option>
                                <option value="Al Developer">Al Developer</option>
                                <option value="BC Consultant">BC Consultant</option>
                                <option value="SUPPLY CHAIN MANAGEMENT CONSULTANT">SUPPLY CHAIN MANAGEMENT CONSULTANT
                                </option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button type="submit" class="main-cta w-button">Apply</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</main>
@* <script>
let slideIndex = 1;
showSlides(slideIndex);

// Automatic slideshow
let slideInterval = setInterval(function() {
plusSlides(1);
}, 1000); // Adjust the interval duration as needed (in milliseconds)

function plusSlides(n) {
showSlides(slideIndex += n);
clearInterval(slideInterval); // Clear the interval timer
slideInterval = setInterval(function() {
plusSlides(1);
}, 1000); // Restart the interval timer after manual navigation
}

function currentSlide(n) {
showSlides(slideIndex = n);
clearInterval(slideInterval); // Clear the interval timer
slideInterval = setInterval(function() {
plusSlides(1);
}, 1000); // Restart the interval timer after manual navigation
}

function showSlides(n) {
let i;
let slides = document.getElementsByClassName("mySlides");
let dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}

</script> *@
<script>
    // Initialize AOS
    AOS.init();
</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
                content.style.margin = "0px 25px";
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
                content.style.margin = "0px 25px 15px";
            }
        });
    }

    var x, i, j, l, ll, selElmnt, a, b, c;
    x = document.getElementsByClassName("Positions");
    l = x.length;
    for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        yl = y.length;
                        for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    document.addEventListener("click", closeAllSelect);
</script>

<script>
    function showModal(title) {
        var position = title;
        swalWithBootstrapButtons.fire(
            {
                title: "Confirm",
                html: '    <div class="form-block w-form"><form action="https://api.web3forms.com/submit" method="POST"><input type="hidden" name="access_key" value="a508f18d-27ad-455a-a10d-af959ec0d024"><input class="form-field w-input" value="' + position + '"" name="position" readonly><input id="fname" type="text" name="name" class="form-field w-input" placeholder="Full Name *" required=""><input id="efield" name="email" class="form-field w-input" type="email" placeholder="Email Address *" required=""><input id="pfield" name="phone" class="form-field w-input" type="number" placeholder="Phone number(Optional)"><div class="resume"><input data-fileupload="true" type="file"><\/div><div class="button-box"><button type="submit" class="main-cta w-button">Apply<\/button><\/div><\/form><\/div>'
                , showConfirmButton: !1
            }
        )
    }
    const swalWithBootstrapButtons = Swal.mixin({ buttonsStyling: !1 });
</script>

<script src="https://web3forms.com/client/script.js" async defer></script>