    <div class="section" style="padding-top: 50px;">
        <div class="container">
            <main>
                <div class="breadcrumb">Our Services</div>
                <h1 class="submain-title">Management Consulting​</h1>
                <p class="text-block">Being who the client asks to solve their strategic and operational issues.</p>
            </main>
        </div>
    </div> 
    <div class="section">
        <div class="container">
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/strategy2.png" alt="">
                </div>
                <div class="st-content">
                    <h1 class="teartiary-title">Strategy</h1>
                    <table class="text-block">
                        <tbody>
                            <tr>
                                <td><p>Analysis and design</p>​</td>
                                <td><p>Strategy cascading & implementation tactics</p>​</td>
                                <td><p>Business plan</p>​</td>
                            </tr>
                            <tr>
                                <td><p>Documentation</p>​</td>
                                <td><p>Mission, vision, objectives</p>​</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/output-onlinepngtools (3).png" alt="">
                </div>
                <div class="st-content">
                    <h1 class="teartiary-title">Governance & Organization</h1>
                    <table class="text-block">
                        <tbody>
                            <tr>
                                <td><p>Governance structure and decision-making​</p>​</td>
                                <td><p>Organization structure​</p>​</td>
                            </tr>
                            <tr>
                                <td><p>Business & Financial controls model</p>​</td>
                                <td><p>Corporate Culture​</p>​</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/coreOperatino.png" alt="">
                </div>
                <div class="st-content">
                    <h1 class="teartiary-title t-t-smaller">Core Operations​</h1>
                    <table class="text-block">
                        <p class="text-block line-height">Design and improvement of:​</p>
                        <tbody>
                            <tr>
                                <td><p>Production</p>​</td>
                                <td><p>Construction & Engineering​</p>​</td>
                                <td><p>Supply chain & Logistics</p>​</td>
                            </tr>
                            <tr>
                                <td><p>Sales & Marketing</p>​</td>
                                <td><p>Quality control​</p>​</td>
                                <td><p>Franchising​</p>​</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/output-onlinepngtools (6).png" alt="">
                </div>
                <div class="st-content">
                    <h1 class="teartiary-title t-t-smaller">Support Operations​</h1>
                    <table class="text-block">
                        <p class="text-block line-height">Design and improvement of:</p>
                        <tbody>
                            <tr>
                                <td><p>Finance management</p>​</td>
                                <td><p>Budgeting</p>​</td>
                                <td><p>HR processes​</p>​</td>
                            </tr>
                            <tr>
                                <td><p>IT operations</p>​</td>
                                <td><p>Administrative</p>​</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/output-onlinepngtools (7).png" alt="">
                </div>
                <div class="st-content">
                    <h1 class="teartiary-title">Data, analysis, reporting​</h1>
                    <table class="text-block">
                        <tbody>
                            <tr>
                                <td><p>Strategic reports​</p>​</td>
                                <td><p>Analysis (Macro & Micro level) 
                                    Performance models & KPIs​</p>​</td>
                                <td><p>Infrastructure</p>​</td>
                            </tr>
                            <tr>
                                <td><p>Database, data marts 
                                    data-warehouse​</p>​</td>
                                <td><p>Logical layer
                                     implementation tactics</p>​
                                </td>
                                <td><p>Visualization​</p>​</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/cpu (2).png" alt="">
                </div>
                <div class="st-content">
                    <h1 class="teartiary-title">Technology transformation​</h1>
                    <table class="text-block">
                        <tbody>
                            <tr>
                                <td><p>Technology architecture assessment​​</p>​</td>
                                <td><p>Technology future state​</p>​</td>
                                <td><p>mplementation Blueprint​</p>​</td>
                            </tr>
                            <tr>
                                <td><p>Feasibility analysis​​</p>​</td>
                                <td><p>Change roadmap​</p>​</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @* <script>
        window.onscroll = function() {myFunction()};
        
        var navbar = document.getElementById("navcontainer");
        var sticky = navbar.offsetTop;
        var navbarchild = document.getElementById("navbar");

        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
            
            navbarchild.classList.add("stickyBg");
          } else {
            navbar.classList.remove("sticky");
            navbarchild.classList.remove("stickyBg");
          }
        }
    </script>  *@