<style>
    .tech-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .last-service {
        width: 100%;
        /* Ensure it takes the full width of the container */
        display: flex;
        justify-content: center;
        /* Horizontally center the content */
        margin-top: 20px;
        /* Add some top margin for spacing */
    }


    .strategy {
        width: 48%;
        margin-bottom: 20px;
        display: flex;
        background: #141313;
        border-radius: 16px;
        flex-direction: column;
        justify-content: flex-start;
        padding: 40px;
        text-decoration: none;
        opacity: 0.82226;
    }


    .box-img {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .st-content {
        /* Adjust styles as needed */
        flex: 2;
        /* Ensure the image and text share equal space */
        padding-left: 20px;
        /* Add some space between the image and text */
    }
</style>

<div class="section" style="padding-top: 50px;">
    <div class="container">
        <main>

            <h1 class="submain-title">Management Consulting​</h1>
            <p class="text-block">Being who the client asks to solve their strategic and operational issues.</p>
        </main>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="tech-wrapper">
            <div class="strategy">
                <div class="box-img">
                    <img src="~/imgs/strategy.er.png" alt="">
                    <h1 class="teartiary-title">Strategy</h1>
                </div>
                <div class="st-content">

                    <div class="text-block">
                        We guide our clients towards futureproofing their business through analysing, designing and
                        documenting
                        their business strategy, cascaded to each business unit and department down to strategic
                        business
                        tactics.
                    </div>
                </div>
            </div>
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/core operations.png" alt="">
                    <h1 class="teartiary-title t-t-smaller">Core Operations​</h1>
                </div>
                <div class="st-content">

                    <div class="text-block">
                        We help hour clients across industries implement core operations excellence, improve their
                        processes,
                        remove waste and overlapping and ensure efficiency across production, quality control, supply
                        chain
                        &
                        logistics, sales & marketing, franchising, etc.
                    </div>
                </div>
            </div>
            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/governance.png" alt="">
                    <h1 class="teartiary-title">Governance & Organization</h1>
                </div>
                <div class="st-content">

                    <div class="text-block">
                        Business strategy and operations need to be implemented seamlessly. In order to do that, we help
                        our
                        clients
                        design the needed governance, organization structure, set up business and financial controls
                        models
                        that
                        ensure business continuity.
                    </div>
                </div>
            </div>

            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/support ops.png" alt="">
                    <h1 class="teartiary-title t-t-smaller">Support Operations​</h1>
                </div>
                <div class="st-content">

                    <div class="text-block">
                        Growing complexity and competition arises the need for creating centers of excellence. We help
                        our
                        clients
                        design and implement effective and efficient support operations across Finance, IT, HR, etc. in
                        order to meet
                        the demands of the business for supporting their core operations.
                    </div>
                </div>
            </div>

            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/tech-transformation.png" alt="">
                    <h1 class="teartiary-title">Technology transformation​</h1>
                </div>
                <div class="st-content">

                    <div class="text-block">
                        Technology is the key enabler that can make or break your business. We provide with the
                        necessary
                        tools and
                        knowledge to bring together the strategy, operations and business needs with the technology
                        tools in
                        order to
                        secure a seamless transformation and maximize tech ROI.
                    </div>
                </div>
            </div>

            <div class="strategy tech-wrapper">
                <div class="box-img">
                    <img src="~/imgs/project managment.png" alt="">
                    <h1 class="teartiary-title">Project Menagment​</h1>
                </div>
                <div class="st-content">

                    <div class="text-block">
                        We help our clients by engaging our long experience in complex projects management either in
                        business and
                        technology transformation. We provide our Project Management Office setup methods to ensure
                        the
                        success
                        of complex projects based on business needs.
                    </div>
                </div>

            </div>

            <div class="last-service">
                <div class="strategy tech-wrapper">
                    <div class="box-img">
                        <img src="~/imgs/data-analysis.png" alt="">
                        <h1 class="teartiary-title">Data, analysis, reporting​</h1>
                    </div>
                    <div class="st-content">

                        <div class="text-block">
                            “If you cannot measure it, you cannot improve it.” Likewise, without data the implementation
                            of
                            the
                            strategies
                            and operations is bound to not succeed. We provide our clients with analysis services from
                            building
                            the data
                            infrastructure , to the design and delivery of analytical reports based on the
                            decision-making
                            needs
                            of the
                            business.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navcontainer");
var sticky = navbar.offsetTop;
var navbarchild = document.getElementById("navbar");

function myFunction() {
if (window.pageYOffset >= sticky) {
navbar.classList.add("sticky")

navbarchild.classList.add("stickyBg");
} else {
navbar.classList.remove("sticky");
navbarchild.classList.remove("stickyBg");
}
}
</script> *@