    @* <section class="overview" id="About">
        <div class="header">
            <div class="img-container">
                <img src="~/imgs/ITS-logo.png" alt="ITS logo" />
                <div class="its-name">
                    INTEGRATED <br>
                    TECH <br>
                    SOLUTIONS
                </div>
            </div>
            <div class="about-container">
                <p>About</p>
            </div>
        </div>
        <div class="info-section">
            <h3 class="h3">
                OUR COMPANY <br>
                <span>HISTORY</span>
            </h3>
            <div class="information">
                <p>
                    ITS was founded in June 2021 from a team of highly experienced former Deloitte Albania Consultants with the vision of <br>
                    combining business & technology expertise to offer comprehensive management consulting & IT managed services to local and <br>
                    global clients. We are targeting the types of services that would typically be outsourced to offshore technology centers and <br>
                    bring this work onshore.
                </p>
                <br>
                <p>
                    ITS’s management consulting services include Strategy & Transformation, Enterprise Architecture, Operational Excellence and<br>
                    Project Management typically around large, complex business transformation programs. Outsourced Information technology<br>
                    services include Application Maintenance & Support, Infrastructure Maintenance & Support, Customer Application<br>
                    Development & Testing, DevOPS and Help Desk services. Microsoft NAV/Dynamics 365 BC implementation & Support services<br>
                    offer end to end implementations by caring out system architecture design, business and technical analysis, configure &<br>
                    develop, integration with other IT systems, testing, training, data migration, organization change management, and after<br>
                    go-live support.
                </p>
            </div>
        </div>
        <div class="team">
            <h3 class="h3">
                MEET OUR <br>
                <span style="color:#5c2372">TEAM</span>
            </h3>
            <div class="team-imgs">
                <div class="team-member">
                    <img src="~/imgs/PersonIcon.png" />
                    <p>MAKSIM CASLLI</p>
                    <p>CEO</p>
                </div>
                <div class="team-member">
                    <img src="~/imgs/PersonIcon.png" />
                    <p>ARTAN GAQO</p>
                    <p>DIRECTOR</p>
                </div>
                <div class="team-member">
                    <img src="~/imgs/PersonIcon.png" />
                    <p>ARMIL ROKO</p>
                    <p>MANAGER</p>
                </div>
                <div class="team-member">
                    <img src="~/imgs/PersonIcon.png" />
                    <p>LAERT PUMA</p>
                    <p>BUSINESS DEVELOPER</p>
                </div>
            </div>
        </div>
        
    </section>
    <section class="overview" id="Services">
        <div class="Management-section">
            <h3 class="h3">
                WHAT WE <br>
                <span style="color:#ff6200">DO</span>
            </h3>
            <div class="services">
                <p>
                    Our comprehensive set of offerings
                    include:
                </p>
                <div>
                    <h3>Management Consulting</h3>
                    <p>
                        We take high pride in offering outstanding<br>
                        services that cover a 360° view of the organizations<br>
                        from visioning to architecture, from processes to<br>
                        technology, executed through integrated project<br>
                        management. We value our clients to be delivered<br>
                        all-inclusive solutions harmonized through different<br>
                        organization & business domains. Our services include:<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="IT-section">
            <div class="services">
                <p>
                   
                </p>
                <div>
                    <h3>
                        Our Comprehensive IT Outsourcing Services
                    </h3>
                    <p>
                        We tailor our services according to our client’s short-term and long-term needs. Whether you are seeking a new IT solution,<br>
                        integrated solution to support existing technology components, or want to completely outsource your IT environment, we<br>
                        provide exceptional value and innovation to achieve measurable reliability and performance results in a way that drives value.<br>
                        We work as an extension of your organization to manage an increasingly complex environment of technology, processes,<br>
                        systems and software
                    </p>
                </div>
            </div>
            <div class="services-imgs">

            </div>
        </div>
        <div class="BC-section">
            <div class="services">
                <p>

                </p>
                <div>
                    <h3>
                        Microsoft NAV/Dynamics 365 BC implementation & Support
                    </h3>
                    <p>
                        We tailor our services according to our client’s short-term and long-term needs. Whether you are seeking a new IT solution,<br>
                        integrated solution to support existing technology components, or want to completely outsource your IT environment, we<br>
                        provide exceptional value and innovation to achieve measurable reliability and performance results in a way that drives value.<br>
                        We work as an extension of your organization to manage an increasingly complex environment of technology, processes,<br>
                        systems and software
                    </p>
                </div>
            </div>
            <div class="services-imgs">
            </div>
        </div>
    </section> *@


@* <script>
    // Get the screen height (viewport height)
    const screenHeight = window.innerHeight;
    const extendedHeight = screenHeight * 2;
    // Select the element
    const element = document.querySelector('.overview');

    // Set the element's height to the screen height using JavaScript
    element.style.height = `${extendedHeight}px`;
</script> *@

@* <section class="js--info-section">
    <div class="row">
        <h4 class="text-info">Shop online and get Specialist help, free  delivery, and more.</h4>
        <p class="copy-text">When the world changes, business changes too. Apple hardware, software, and services work together to give your employees the power and flexibility to do whatever needs doing, wherever that may be.</p>
    </div>
</section>
<section id="BC">
    <div class="row">
        <h4 class="text-info">Shop online and get Specialist help, free  delivery, and more.</h4>
        <p class="copy-text">When the world changes, business changes too. Apple hardware, software, and services work together to give your employees the power and flexibility to do whatever needs doing, wherever that may be.</p>
    </div>
</section>
<section class="SAP" id="SAP">
    <div class="products-section">
        <div class="grid-item">
            <figure class="product-photo">
                <img src="resources/img/AirPods-Pro.jpg" alt="Apple airpods">
                <a href="#" class="learn-more">Learn more &sc;</a>
                <a href="#" class="order">Order &sc;</a>
            </figure>
        </div>
        <div class="grid-item">
            <figure class="product-photo">
                <img src="resources/img/apple-watch.jpg" alt="Apple watch">
                <a href="#" class="learn-more">Learn more &sc;</a>
                <a href="#" class="order">Order &sc;</a>
            </figure>
        </div>

        <div class="grid-item">
            <figure class="product-photo">
                <img src="resources/img/macbook-air.jpg" alt="Apple iMac">
                <a href="#" class="learn-more">Learn more &sc;</a>
                <a href="#" class="order">Order &sc;</a>
            </figure>
        </div>

        <div class="grid-item">
            <figure class="product-photo">
                <img src="resources/img/ipad-pro.jpg" alt="Apple iPad Pro">
                <a href="#" class="learn-more">Learn more &sc;</a>
                <a href="#" class="order">Order &sc;</a>
            </figure>
        </div>


    </div>
</section>
<section class="FACT" id="FACT">
    <div class="row">
        <h4>What's new? </h4>
        <div class="row">
            <div class="col span-1-of-2 info-box">
                <h5>Air Tag</h5>
                <p>AirTag is a supereasy way to keep track of your stuff. Attach one to your keys, slip another in your backpack. And just like that, they’re on your radar in the Find My app, where you can also track down your Apple devices and keep up with friends and family.</p>
                <h5>How does it work?</h5>
                <p>Your AirTag sends out a secure Bluetooth signal that can be detected by nearby devices in the Find My network. These devices send the location of your AirTag to iCloud — then you can go to the Find My app and see it on a map. The whole process is anonymous and encrypted to protect your privacy. And itʼs efficient, so thereʼs no need to worry about battery life or data usage.</p>
                <h6>Starting at $29</h6>
                <a href="#" class="btn buy">Buy</a>
            </div>

            <div class="col span-1-of-2">
                <a href="#" class="new-products"><img src="resources/img/AirTag.jpg" alt="AirTag" class="airtag"></a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br><hr>
        <br>
        <br>
        <div class="row">
            <div class="col span-1-of-2">
                <a href="#" class="new-products"><img src="resources/img/MagSafe.jpg" alt="Air Pod Max" class="magsafe"></a>
            </div>

            <div class="col span-1-of-2 info-box">
                <h5>Mag Safe Charger</h5>
                <p>
                    The MagSafe Charger makes wireless charging a snap. The perfectly aligned magnets attach to your iPhone 12 or iPhone 12 Pro and provide faster wireless charging up to 15W.
                    The MagSafe Charger maintains compatibility with Qi charging, so it can be used to wirelessly charge your iPhone 8 or later, as well as AirPods models with a wireless charging case, as you would with any Qi-certified charger.
                    The magnetic alignment experience only applies to iPhone 12 and iPhone 12 Pro models.
                </p>
                <p><b> Recommended: 20W USB-C Power Adapter</b></p>
                <h6>Starting at $39</h6>
                <a href="#" class="btn buy">Buy</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br><hr>
        <br>
        <br>
        <div class="row">
            <div class="col span-1-of-2 info-box">
                <h5>Air Pod Max</h5>
                <p><b>Introducing AirPods Max — a perfect balance of exhilarating high-fidelity audio and the effortless magic of AirPods. The ultimate personal listening experience is here.</b></p>
                <h5>Audio quality</h5>
                <p>AirPods Max combine high-fidelity audio with industry-leading Active Noise Cancellation to deliver an unparalleled listening experience. Each part of their custom-built driver works to produce sound with ultra-low distortion across the audible range. From deep, rich bass to accurate mids and crisp, clean highs, you’ll hear every note with a new sense of clarity.</p>
                <h6>Starting at $549 or $91.50/mo.</h6>
                <a href="#" class="btn buy">Buy</a>
            </div>

            <div class="col span-1-of-2">
                <a href="#" class="new-products"><img src="resources/img/AirPodMax.jpg" alt="Air Pod Max" class="airpodmax"></a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br><hr>
        <br>
        <br>
        <div class="row">
            <div class="col span-1-of-2">
                <a href="#" class="new-products"><img src="resources/img/apple-tv.jpg" alt="Apple TV 4K" class="apple-tv"></a>
            </div>

            <div class="col span-1-of-2 info-box" id="tv">
                <h5>Apple TV 4K</h5>
                <p>The new Apple TV 4K brings the best of TV together with your favorite Apple devices and services — in a powerful experience that will transform your living room.</p>
                <p><b>High Frame Rate HDR.</b>   At twice the frame rate for high dynamic range (HDR) video, Apple TV 4K delivers brighter, more realistic colors and greater detail. Fast-action sports look incredibly smooth. Nature documentaries come alive. And YouTube videos jump off the screen.</p>
                <p><b>Siri Remote has a touch-enabled clickpad for precise control.</b></p>
                <h6>Starting at $179 or $29.83/mo.</h6>
                <a href="#" class="btn buy">Buy</a>
            </div>
        </div>

    </div>
</section>
<section class="card-apply" id="MC">
    <div class="row">
        <h4>We reward your loyalty!</h4>
        <h2 class="card"><ion-icon name="logo-apple" class="logo-apple"></ion-icon>Card</h2>
        <br>
        <p class="card-info">Get 3% Daily Cash back on purchases from Apple when you use Apple Card.</p>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col span-1-of-2">
            <img src="resources/img/apple-card.jpg" alt="" class="card-photo">
        </div>

        <div class="col span-1-of-2">
            <form action="formm.php" method="POST" class="contact-form">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="apple-id"><b>Apple ID</b></label>
                    </div>

                    <div class="col span-2-of-3">
                        <input type="text" name="AppleID" id="apple-id" placeholder="Apple ID" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="password"><b>Password</b></label>
                    </div>

                    <div class="col span-2-of-3">
                        <input type="password" name="Password" id="password" placeholder="Password" required>
                        <br><p class="forgot"><a href="#">Forgot Apple ID or password?</a></p>

                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="gender"><b>Gender</b></label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="radio" name="gender" id="gender" value="male"> <b>Male</b><br>
                        <input type="radio" name="gender" id="gender" value="female"> <b>Female</b><br>
                        <br><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="comment"><b>Leave a comment</b></label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea id="comment" name="comment" rows="4" cols="30" placeholder="What do you think..."></textarea>
                        <br><br>
                    </div>
                </div>




                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="">&nbsp;</label>
                    </div>

                    <div class="col span-2-of-3">
                        <input type="submit" value="Apply Now">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> *@